:root{
  font-size:18px;
}

*{
  margin:0;
  padding:0;
  box-sizing: border-box;
}

section{
  background:rgb(250, 131, 191);
  height:100vh;
  display:flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.card{
  width: 450px;
  height: 550px;
  background:rgb(250, 240, 136);

}

.img-holder{
  width: 200px;
  height: 200px;
  border-radius:50%;
  overflow: hidden;
  margin: 20px auto 30px auto;
}

.img-holder img{
  width: 100%;
  height: auto;
  display: block;
}

.text{
  text-align: center;
  color:rgb(68, 3, 94);
}

h3{
  font-size:22px;
  line-height: 35px;
  font-weight: 500;
}
.container {
  width: 340px;
  padding: 15px;
  padding-left: 95px;
  align-content:center;
  justify-content: center;
  display:flex;
}

.btn {
  margin: 20px 5px 20px 20px;
  padding: 4px 4px;
  align-content: center;
  background: rgb(139, 18, 155);
  color: orange;
  border:none;
  text-align: center;
  border-radius:15px;
  width:127px;
  height:50px;
  display: inline;
  font-size:14px;
  font-weight:bold;
  
}

.likes{
  color:red;
  align-content: center;
  display:block;
  
}
.socials{
display:flex;
justify-content: center;
color:rgb(9, 187, 68);
}

.fa-facebook-f{
  margin-right:10px;
}


i { 
  display: block;
  margin: 0 5px;
  font-size: 30px;
  }

  .btn:hover {
    background-color: rgb(65, 4, 65);
    color:orange;
    cursor: pointer;
}

.likes {
  display:flex;
  justify-content: center;
  margin-top: -25px;
  margin-bottom:25px;
  color:rgb(255, 38, 0);

}

p {
  font-size: 40px;
}

.fas {
  margin-top: 9px;
  cursor: pointer;
}

.socials:hover {
color:rgb(3, 90, 3);
cursor: pointer;
}

.facebook-f:hover {
color:darkturquoise;
}